
        <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody *ngFor="let user of users">
                        <tr scope="row">
                                <td>{{user.id}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.username}}</td>
                                <td><button class="btn btn-primary" (click)="edit(user)">Edit</button></td>
                                <td><app-delete-user [data]="user"></app-delete-user></td>
                        </tr>
                </tbody>
              </table>

