<!-- 
        <div *ngFor="let user of users">

            <input [disabled]="true" class="btn btn-link my-2 mx-2" type="text" value="{{user.id}}" #id>
            <input [disabled]="true" class="btn btn-link my-2 mx-2" type="text" value="{{user.email}}" #id>
            <input [disabled]="true" class="btn btn-link my-2 mx-2" type="text" value="{{user.username}}" #id>
        </div> 
-->

        <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody *ngFor="let user of users">
                        <tr scope="row">
                                <td>{{user.id}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.username}}</td>
                                <td><app-edit-user [data]="user"></app-edit-user></td>
                                <td><app-delete-user [data]="user"></app-delete-user></td>
                        </tr>
                </tbody>
              </table>
