
        <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody *ngFor="let user of users">
                        <tr scope="row">
                                <td>{{user.id}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.mobileNumber}}</td>
                                <app-edit-user [data]="user"></app-edit-user>
                                <td><app-delete-user [data]="user"></app-delete-user></td>
                        </tr>
                </tbody>
              </table>
              

