<p>signup works!</p>
<div>
    <form [formGroup]="regForm" (ngSubmit)="signup()">
        
      <select id="admin/user" name="country" placeholder="admin/user">
        <option value="admin">admin</option>
        <option value="admin">user</option>
      </select>
      <br>
     
      <input type="text" id="username" name="username" placeholder="Username..">
       <br>
     
      <input type="text" id="lname" name="lastname" placeholder="Email..">
       <br>
      
      <input type="text" id="moblileNumber" name="mobileNumber" placeholder="Mobile..">
      
     
      <input type="password" id="password" name="password" placeholder="Password.">

     
      <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password.">
      <input type="submit" value="Submit">
    </form>
  </div>