
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Time</th>
                <th scope="col">Date</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody *ngFor="let event of events">
                   <td>{{event.eventName}}</td>
                   <td>{{event.eventTime}}</td>
                   <td>{{event.eventDate}}</td>
                   <app-edit-event></app-edit-event>
            </tbody>
          </table>


