
        <table class="table table-bordered" id="bookings" style="width:90%">
            <thead>
              <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Time</th>
                <th scope="col">Date</th>
                <th scope="col">Total Price</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody *ngFor="let event of events">
                    <tr scope="row">
                            <td>{{event.eventName}}</td>
                            <td>{{event.eventTime}}</td>
                            <td>{{event.eventDate}}</td>
                            <td>{{event.price}}</td>
                            <app-edit-booking [data]="event"></app-edit-booking>
                            <td><button [data]="event" id="deleteBooking" class="btn btn-danger" (click)="delete()">delete</button></td>
                    </tr>
            </tbody>
          </table>

          <app-footer></app-footer>
