form {
	margin:0 auto 0 auto;
	padding:5px;
	width:400px;
	height:auto;
	overflow:hidden;
	background:white;
	border-radius:10px;
    background-color: #bbb;
}
form input {
	margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}
input[type=submit] {
	padding:15px 50px;
	width:auto;
	background:blueviolet;
	border:none;
	font-size: large;
	color:white;
	cursor:pointer;
	display:inline-block;
	float:right;
	clear:right;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

input[type=submit]:hover {
	opacity:0.8;
}

input[type="submit"]:active {
	opacity:0.4;
}
.Themestable{
    background-color: plum;
    align-items: top;
}
td{
    content: inherit;
}

.themeD
{
	background-image: url("/assets/bground.jpg");
}

.themeForm
{
	background: transparent;
}