<ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Theme</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')">X</button>
      </div>
      <div class="modal-body">
            <input type="text" id="themeName" class="form-control" #themeName name="themeName" placeholder="Enter theme name" required>
      <br>
      <input type="text" id="imageUrl" class="form-control" #imageUrl name="imageUrl" placeholder="Enter the image Url" required>
      <br> 
     <input type="text" id="photographerDetails" class="form-control" #photographerDetails name="photographerDetails" placeholder="Enter Phographer details" required>
     <br>
    <input type="text" id="videographerDetails" class="form-control" #videographerDetails name="videographerDetails" placeholder="Enter videographer details">
    <br>
    <input type="text" id="returnGift" class="form-control" #returnGift name="returnGift" placeholder="Enter theme return Gift" required>
     <br>
    <input type="number" id="themeCost" class="form-control" #themeCost name="themeCost" placeholder="Enter theme cost" required>
    <br>
    <textarea id="themeDecription" class="form-control" #themeDescription name="themeDescription" placeholder="Enter theme description" required>
       Enter Theme description....
    </textarea>
     <br>
      <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="saveTheme(themeName.value,imageUrl.value,photographerDetails.value,videographerDetails.value,returnGift.value,themeCost.value,themeDescription.value)">Save</button>
      </div>
</div>
</ng-template>     
            <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add Theme</button>
            <hr>
            <app-viewtheme></app-viewtheme>
            