<section>
    <div>
    <h2>Contact Us</h2>
    <p>
        For mor information about the products we offer you can contact us using the details below
    </p>
    </div>
    <div class="container">
        <div class="box">
            <div class="icon"></div>
            <div class="text">
                <h2>Address</h2>
                <p>15 Birman Avenue, <br> Rosebank,Johanneburg <br> South Africa<br>2001</b></p>
            </div>
        </div>
    </div>
        <div class="box">
            <div class="icon"></div>
            <div class="text">
                <h2>Phone</h2>
                <p>011-317-9200</p>
            </div>
        </div>
    </div>
        <div class="box">
            <div class="icon"></div>
            <div class="text">
                <h2>Email</h2>
                <p>Event@eventtech.co.za</p>
            </div>
        </div>
    </div>

   
</div>

</section>
