<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col">
                            <input type="text" class="form-control my-2" placeholder="Search Event" name="eventName" id="eventName">
                    </div>
                    <div>
                            <input class="btn btn-primary my-2" type="button" value="search">
                    </div> 
                </div>
        </div>
        <div class="col-md-4"></div>

    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5">
            <div class="col">
                    <div class="card shadow-sm" id="itemGrid1">
                      
                      <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                        <div class="card shadow-sm" id="itemGrid2">
                          <img src="../assets/bgballon.jpg" alt="Ballon">
                          <div class="card-body">
                            
                            
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                              </div>
                              <small class="text-muted">9 mins</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                            <div class="card shadow-sm" id="itemGrid3">
                              <img src="../assets/bgballon.jpg" alt="Ballon">
                              
                              <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                  </div>
                                  <small class="text-muted">9 mins</small>
                                </div>
                              </div>
                            </div>
                          </div>
    </div>
</div>

