<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5 mb-5">
          <div *ngFor="let event of events">
            <div class="col">
              <div class="card shadow-sm my-4" style="background-color:#e8ecf8;" id="itemGrid1">
                <div class="card-body">
                  <p class="card-text">{{event.eventName}} <br>
                                    {{event.eventAddress}} <br>
                                    {{event.eventDate}} <br>
                                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button class="btn btn-info" (click)="review()">Review</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<app-footer></app-footer>
