
  <main>
  
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Birthday Event Planning App</h1>
          <p class="lead text-muted my-2">The primary goal is to book an event that contains any theme, menu, add-ons of your choice</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Welcome to the website. Enjoy.</a>
          </p>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
  
  
  
  
