
		<div>
            <form #themeform="ngForm" (ngSubmit)="getThemeForm(themeform.value)">
            
                  
                <input type="text" id="themeName" ngModel name="themeName" placeholder="Enter theme name" >
            
                <input type="text" id="imageUrl" ngModel name="imageUrl" placeholder="Enter the image Url" >
            
                <input type="text" id="photograpgerDetails" ngModel name="photograpgerDetails" placeholder="Enter Phographer details" >
          
                <input type="text" id="videographerDetails" ngModel name="videographerDetails" placeholder="Enter videographer details">
          
                <input type="text" id="returnGift" ngModel name="returnGift" placeholder="Enter theme return Gift" >
          
                <input type="text" id="themeCost" ngModel name="themeCost" placeholder="Enter theme cost">
               
                <input type="text" id="themeDecription" ngModel name="themeDescription" placeholder="Enter theme description">
              
                <input type="submit" value="Add Theme" id="addTheme"> <button></button>
              </form>
              
        </div>
                
		