.fa {
    padding: 10px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: black;
    color: white;
  }
  
  .fa-twitter {
    background: black;
    color: white;
  }
  
  
  
  .fa-linkedin {
    background: black;
    color: white;
  }
  
 
  .fa-instagram {
    background: black;
    color: white;
  }

  h6
  {
      
      font-size: x-small;
  }

  footer
  {
   
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2d4d6;
  }
  
  .inTouch
  {
    float: right;
  }