<div>
    <form >
      <label for="fname">Theme name</label>
      <input type="text" id="themeName" name="themname" placeholder="theme name..">
  
      <label for="lname">Image Url</label>
      <input type="text" id="imageUrl" name="imageUrl" placeholder="Image url..">

      <label for="lname">Photographer Name</label>
      <input type="text" id="PhotographerDetails" name="lastname" placeholder="Photographer name...">

      <label for="lname">Theme return gift</label>
      <input type="text" id="returnGifts" name="returnGifts" placeholder="Theme return gift...">
      
      <label for="lname">Theme cost</label>
      <input type="text" id="themCost" name="themCost" placeholder="Theme costs...">
    
      <label for="lname">Theme Descrioption</label>
      <input type="text" id="themDescription" name="themDescrioption" placeholder="Theme costs..." height="400px">

      <input type="submit" value="Add Theme"> <input type="button" value="Next Page">
    </form>
  </div>
