<section id="about">
    <div class="about">
        <h1>ABOUT US</h1>
        <h6>EventTech offers the best all birthday parties and with zero set-up for your guests.
            Featured by CNET as the best all-in-one party planner app for 2023, EventTech will help you get organized effectively by keeping track of your guests, budget and logistics in one place!
            
            EventTech is ideal for Events and  Parties. It includes a unique Augmented Reality module that will let you visualize all your information directly on the event location's pictures.
            
            <strong>ALL YOUR INFORMATION IN ONE PLACE</strong> 
            
            Centralize all your guests information in one place, including the demographic information, participations, gifts, menu choices and more. Also track details about budget and timeline to get the complete picture.</h6>
    </div>         
</section>
