
        <div>
          <form [formGroup]="addOnForm" (ngSubmit)="AddaddOnData(addOnForm.value)">
            <input type="text" id="imageUrl" formControlName="imageUrl" placeholder="Enter Imgage Url"><br>
            <span style="color:red;" *ngIf="imageUrl && imageUrl.invalid && imageUrl.touched">Invalid field</span>
            <input type="text" id="addOnName" formControlName="addOnName" placeholder="Enter AddOn Name"><br>
            <span style="color:red;" *ngIf="addOnName && addOnName.invalid&& addOnName.touched">Invalid field</span>
            <input type="number" id="addOnPrice" formControlName="addOnPrice" placeholder="Enter Price"><br>
            <span style="color:red;" *ngIf="addOnPrice && addOnPrice.invalid && addOnPrice.touched">Invalid field</span>
            <input type="submit" value="Submit">
          </form>
        </div>
        <app-footer></app-footer>

     

