<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')">X</button>
	</div>
	<div class="modal-body">
		<input type="text" id="AddOnsName" placeholder="Enter the Add ons name" #name><br>
        <input type="number" id="AddOnsPrice" placeholder="Enter the Add ons Price" #price><br>
        <input type="text" id="AddOnsImageurl" placeholder="Enter the Image Url" #image><br>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="add(name.value,price.value,image.value)">Submit</button>
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">AddOns</button>
