

            <h1>Add Item</h1>
            <form #formMenu="ngForm"   (ngSubmit)="getMenuData(formMenu.value)">
                <input type="file" id="myFile" ngModel name="filename" required>
                 <br>
                <input type="text" id="itemName" ngModel name="itemName" placeholder="Enter Item Name.." required>
                <br>
                <label for="catagory">Choose a Catagory:</label>
                <select name="itemCatagory" id="itemCatagory" ngModel>
                  <option value="veg">Veg</option>
                  <option value="Non veg">Non Veg</option>
                  
                </select>
               <br>
               <br>
               <input type="text" ngModel name="itemPrice" id="itemPrice">
            
                <input type="submit" value="Add menu">
              </form>
        
            
  
