
			<div>
                <form [formGroup]="menuForm"   (ngSubmit)="getMenuData(menuForm.value)">

                    <label for="image">Upload Image:</label>
                    <input type="file" id="imageFile" formControlName="imageFile" name="imageFile"  placeholder="upload"  required>
                     <br>
                      <span [ngclass]="'error'"  *ngIf="imageFile && imageFile.invalid && imageFile.touched">Upload Image</span>

                     <br>
                     <label for="itemname">Item Name:</label>
                    <input type="text" id="itemName" formControlName="itemName" name="itemName" placeholder="Enter item name" required>
                    <br>
                    <span [ngclass]="'error'" *ngIf="itemName && itemName.invalid && itemName.touched">Field required</span>
                    <br>
                    <label for="catagory">Choose a Catagory:</label>
                    <select name="itemCatagory" id="itemCatagory"  formControlName="itemCatagory">
                      <option value="veg">Veg</option>
                      <option value="Non veg">Non Veg</option>
                    </select>
                   <br>
                   <span [ngclass]="'error'"  *ngIf="itemCatagory && itemCatagory.touched">Invalid Field</span>
                   <br>
                   <label for="itemPrice">Item Price:</label>
                   <input type="text" id="itemPrice" placeholder="Enter item price" formControlName="itemPrice">
                   <span [ngclass]="'error'"  *ngIf="itemPrice && itemPrice.invalid && itemPrice.touched">Invalid Field</span>
                    <input type="submit" value="Add Item" id="addItem">
                  </form>
            </div>
		