<form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value">
        <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
                <select class="form-control" name="user/admin" id="user/admin" formControlName="userType">
                        <option value="admin">Admin</option>
                        <option value="customer">Customer</option>
                </select>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
          <label for="email">Email address</label>
        </div>
        <div class="form-floating">
                <input type="email" class="form-control" id="username" placeholder="Username" formControlName="username">
                <label for="username">Username</label>
        </div>
        <div class="form-floating">
                <input type="tel" class="form-control" id="mobileNumber" placeholder="Mobile Number" formControlName="mobileNumber">
                <label for="mobileNumber">Mobile Number</label>
        </div>
        <div class="form-floating">
          <input type="password" class="password" id="password" placeholder="Password" formControlName="password">
          <label for="password">Password</label>
        </div>
        <div class="form-floating">
                <input type="password" class="password" id="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword">
                <label for="confirmPassword">Password</label>
        </div>
        
    
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
      </form>