<div *ngFor="let user of data">
    <form [formGroup]="editForm" (ngSubmit)="editUser(editForm.value)">
        <div>
            <input disabled type="text" name="id" id="id" value="{{user.id}}" formControlName="id">
        </div>
        <div>
            <input type="text" name="username" id="username" value="{{user.username}}" formControlName="username">
        </div>
        <div>
            <input type="text" name="email" id="email" value="{{user.email}}" formControlName="email">
        </div>
        <div>
            <input type="text" name="username" id="username" value="{{user.password}}" fromControlName="password">
        </div>
        <button class="btn btn-primary">Edit</button>
    </form>
</div>

 

